{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('bundles/images/favicon.gif') }}" />
    {% block stylesheets %}
        <link href="{{ asset('bundles/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/css/window.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/css/select2.css') }}" rel="stylesheet" />
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/select2.min.js') }}"></script>
    {% endblock %}
{% endblock %}

{% block title '' %}

{% block body %}
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}
