{% extends "AcmeSecureBundle::layout.html.twig" %}
    {% block content %}
        <div class="container">
            <div class="row">
                <p>Ваш ник - {{ userLogin }}</p>
                <p>Ваш статус - {{ userRole }}</p>
                <p>Вход в систему - {{ whenLogin }}</p>
                <p>Осталось в системе - {{ remainingTime }}</p>

                <p><a href="{{ path('logout') }}">Выход</a></p>
            </div>
        </div>
    {% endblock %}
