{% extends "AcmeSecureBundle::layout_author.html.twig" %}
    {% block title "Домашняя страница" %}
    {% block content %}
            <div class="row">
                <p>Ваш ID - {{ user.id }}</p>
                <p>Ваш ник - {{ user.login }}</p>
                <p>Ваш баланс: {{ user.account }} руб.</p>
                <p>Ваш статус - {{ user.role.name }}</p>
                <p>Вход в систему - {{ whenLogin }}</p>
                <p>Осталось в системе - {{ remainingTime }}</p>
            </div>
    {% endblock %}
