{% extends "AcmeSecureBundle::layout_author.html.twig" %}
{% block title "Заказы на выполнении" %}
    {% block content %}
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/custom-theme1/jquery-ui-1.10.3.custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/ui.jqgrid.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/i18n/grid.locale-ru.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.fmatter.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.contextMenu.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/script_posts.js') }}"></script>
            <style type="text/css">
                .ui-jqgrid .ui-jqgrid-htable th div {
                    height: 21px;
                }
                .gridCellTime {
                    color: blue;
                }
                #pagerOrders {
                    height: 30px;
                }
                .grid-cell-num {
                    color: black;
                    font-size: 20px;
                    font-weight: bold;
                }
            </style>
            <div class="row">
                <div class="">
                    <table id="listOrders"></table>
                    <div id="pagerOrders"></div>
                </div>
                <div class="contextMenu" id="contextMenu" style="display:none">
                    <ul>
                        <li id="open-in-new-tab">
                            <span style="font-size:100%">Открыть в новой вкладке</span>
                        </li>
                    </ul>
                </div>
                <script>
                $(document).ready(function() {
                    $.fn.button.noConflict();
                    var grid = $("#listOrders");
                    grid.jqGrid({
                        url: {{ path('secure_author_orders', { type: 'work' }) | json_encode | raw }},
                        datatype: 'json',
                        mtype: 'POST',
                        caption: 'Таблица заказов на выполнении',
                        recordtext: "Просмотр заказов {0} - {1}",
                        colNames:['','№ заказа', 'Предмет', 'Тип работы', 'Тема работы', 'Задание', 'Выполнение до', 'Осталось', 'Статус', 'Mоя ставка'],
                        colModel :[
                            {name:'id',index:'id',key:true,search:false,resize:false,hidden:true},
                            {name:'num',index:'num',width:120,align:'center',resizable:false,editable:false,sortable:false,title:false,formatter:customNum},
                            {name:'subject_order',index:'subject_order',width:160,align:'center',resizable:false,sortable:false,editable:false},
                            {name:'type_order',index:'type_order',width:150,align:'center',resizable:false,editable:false,sortable:false},
                            {name:'theme',index:'theme',width:300,align:'center',resizable:false,editable:false,sortable:false},
                            {name:'task',index:'task',width:350,align:'center',resizable:false, editable:false,sortable:false},
                            {name:'date_expire',index:'date_expire',width:150,align:'center',resizable:false,editable:false,sortable:false},
                            {name:'remaining',index:'remaining',width:200,align:'center',resizable:false,editable:false,sortable:false},
                            {name:'status_order',index:'status_order',width:130,align:'center',resizable:false,editable:false,sortable:false},
                            {name:'author_last_bid',index:'author_last_bid',width:160,align:'center',resizable:false,editable:false,sortable:false,formatter:'currency',formatoptions:{defaultValue:'',thousandsSeparator: " ",decimalPlaces:0,suffix:" руб."}},
                        ],
                        //postData: {attempt : new Date()},
                        pager: $('#pagerOrders'),
                        rowNum: 15,
                        rowList: [15,25,35],
                        viewrecords: true,
                        hidegrid: false,
                        height: '600',
                        altRows: true,
                        altclass:'alt-row',
                        gridComplete: initMenu,
                        loadComplete : function() {
                            grid.find("tr").find("td").removeAttr('title');
                        },
                        onCellSelect: function(rowid) {
                            var num = $("tr.jqgrow#" + rowid).find('td').eq(1).find('span')[0].innerHTML, url = "{{ path("secure_author_order", {'num': 'num'}) }}";
                            location.href = url.replace("num", num);
                        }
                    }).navGrid('#pagerOrders',{view:false,search:false,del:false,add:false,edit:false,refresh:true},
                            {},{},{},{},{}
                    );
                    function initMenu() {
                        grid.contextMenu('contextMenu', {
                            bindings: {
                                'open-in-new-tab': function () {
                                    var rowId = grid.getGridParam("selrow");
                                    var num = $("tr.jqgrow#" + rowId).find('td').eq(1).find('span')[0].innerHTML, url = "{{ path("secure_author_order", {'num': 'num'}) }}";
                                    url = url.replace("num", num);
                                    window.open(url, "_blank");
                                }
                            },
                            menuStyle: {
                                backgroundColor: '#fcfdfd',
                                border: '1px solid #a6c9e2',
                                maxWidth: '600px',
                                width: '100%'
                            },
                            itemHoverStyle: {
                                border: '1px solid #79b7e7',
                                color: '#1d5987',
                                backgroundColor: '#d0e5f5'
                            },
                            onContextMenu: function (event, menu) {
                                var rowId = $(event.target).parent("tr").attr("id");
                                if (!rowId) {
                                    return false;
                                }
                                grid.setSelection(rowId);
                                return true;
                            }
                        });
                    }
                    /*function customNum(cellvalue) {
                        return ("<span class='grid-cell-num'>" + cellvalue + "</span>");
                    }*/
                });
                </script>
            </div>
    {% endblock %}