{% extends "AcmeSecureBundle::layout.html.twig" %}

{% block title "Order" %}

    {% block content %}
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/custom-theme1/jquery-ui-1.10.3.custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/ui.jqgrid.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/i18n/grid.locale-ru.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.fmatter.js') }}"></script>
        <style>
            .invalid{
                border-color: #E9322D!important;
                box-shadow: 0 0 6px #E9322D!important;
            }
            .popover{
                position: absolute;
                top: -20px !important;
                left: 310px !important;
                width: 300px;
                height: 90px;
            }
            .thumbnail-image{
                padding-top: 20px;
            }
            .block-file{
                border: 1px solid #000000;
                width: 300px;
            }
            .reset-margin-bottom{
                margin-bottom: 0px;
            }
            .reset-margin-left{
                padding-left: 0px;
            }
            .error{
                color: red;
            }
            .success{
                color: green;
            }
            .altRow {
                background-color: #f3f3f3;
                background-image: none;
            }
            .offset-margin-right {
                float: right;
                margin-right: -200px;
            }
            .ui-jqgrid .ui-jqgrid-htable th div {
                height: 21px;
            }
            .gridCellTime {
                color: blue;
            }
        </style>
        <div class="container">
            <div id="modal-window">
                {% if (showWindow) %}
                    <div id="success-window">
                        <div class="Message Message--green" id="js-timer">
                            <div class="Message-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="Message-body">
                                <p align="center">Ваш заказ создан! Ожидайте ставок авторов!</p>
                            </div>
                            <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div id="blockAboutOrder">
                    <p>Номер заказа: {{ order.num }}</p>
                    <p>Тема работы: {{ order.theme }}</p>
                    <p>Задание: {{ order.task | raw }}</p>
                    <p>Объем работы: {{ order.countsheet }} стр.</p>
                    <p>Оригинальность работы: {{ order.originality }}%</p>
                    <p>Предмет: {{ order.subjectorder.childname }}</p>
                    <p>Тип работы: {{ order.typeorder.name }}</p>
                    <p>Статус заказа: {{ order.statusorder.name }}</p>
                    <p>Дата создания заказа: {{ order.datecreate.format("d.m.Y H:i") }}</p>
                    <p>Выполнение заказа до: {{ order.dateexpire.format("d.m.Y H:i") }}</p>
                    <p>Заказчик: {{ order.user.login }}</p>
                    <div>
                        {% for file in files %}
                            <div class="block-file">
                                <p>Файл: {{ file.name }} </p>
                                <p>Размер: {{ file.size }} </p>
                                <p>Загружен: {{ file.dateupload.format("d.m.Y H:i") }} </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="{{ path('secure_author_index') }}">Главная</a>
                <a href="{{ path('secure_author_orders', { type: 'new'}) }}">К новым заказам</a>
            </div>
            <div class="row">
                <div blockAuthorFormBid>
                    {{ form_start(formBid, {'attr': {'id' : 'formBid'}}) }}
                    <div class="form-group">
                        {{ form_label(formBid.fieldSum) }}
                        {{ form_errors(formBid.fieldSum) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class=" icon-rouble"></i></span>
                            {{ form_widget(formBid.fieldSum) }}
                        </div>
                        {{ form_label(formBid.fieldDay) }}
                        {{ form_errors(formBid.fieldDay) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-clock-5"></i></span>
                            {{ form_widget(formBid.fieldDay) }}
                        </div>
                        {{ form_label(formBid.isClientDate) }}
                        {{ form_errors(formBid.isClientDate) }}
                        <div class="input-group">
                            {{ form_widget(formBid.isClientDate) }}
                        </div>
                        {{ form_label(formBid.fieldComment) }}
                        {{ form_errors(formBid.fieldComment) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-fontsize-1"></i></span>
                            {{ form_widget(formBid.fieldComment) }}
                        </div>
                        <br>
                        <div class="input-group">
                            <label for="formBid_bid" class="btn btn-success"><span class="icon-hammer">&nbspПоставить</span></label>
                            {{ form_widget(formBid.bid) }}
                        </div>
                    </div>
                    {{ form_end(formBid) }}
                </div>
                <div class="row">
                    <div blockAuthorBids>
                        <table id="listBids"></table>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function() {

                    var buttonBid = $("#formBid_bid");
                    var isClientDate = $("#formBid_isClientDate");
                    var fieldDay = $("#formBid_fieldDay");
                    var fieldSum = $("#formBid_fieldSum");

                    buttonBid.click(function(e) {
                        $.ajax({
                            type: 'POST',
                            data: $("#formBid").serialize(),
                            success: function(response) {
                                var responseObject = window.JSON.parse(response);
                                if (responseObject.response == "valid") {
                                    $(".error").remove();
                                    var placeError = $("#formBid").parent().prev();
                                    if (placeError.hasClass("success")) {
                                        placeError.removeClass("success");
                                        placeError.hide();
                                    }
                                    $("#listBids").trigger('reloadGrid');
                                    $("#formBid").parent().before("<span class='success'>Ставка поставлена!</span>");
                                    setTimeout(function() {
                                        $("#formBid").parent().prev().hide();
                                    }, 3000);
                                }
                                else {
                                    $(".error").remove();
                                    $.each(responseObject.response, function(index, value) {
                                        var selector  = "#formBid_" + index;
                                        $(selector).parent().after("<p class='error'>" + value + "</p>");
                                    });
                                }
                            }
                        });
                    });

                    if (isClientDate.prop("checked")) {
                        fieldDay.prop('disabled', true);
                    }
                    else {
                        fieldDay.prop('disabled', false);
                    }

                    isClientDate.change(function() {
                        if($(this).prop("checked")) {
                            fieldDay.prop('disabled', true);
                            if (buttonBid.prop('disabled') && fieldSum.val() != "") {
                                disabledButtonBid(false);
                            }
                        }
                        else {
                            fieldDay.prop('disabled', false);
                        }
                    });

                    if (fieldSum.val() == "" || (fieldDay.val() == "" && !isClientDate.prop("checked"))) {
                        disabledButtonBid(true);
                    }
                    else {
                        disabledButtonBid(false);
                    }

                    fieldSum.on('input', function() {
                        if ($(this).val() == "" || (fieldDay.val() == "" && !isClientDate.prop("checked"))) {
                            disabledButtonBid(true);
                        }
                        else {
                            disabledButtonBid(false);
                        }
                    });

                    fieldDay.on('input', function() {
                        if ($(this).val() == ""|| fieldSum.val() == "") {
                            disabledButtonBid(true);
                        }
                        else {
                            disabledButtonBid(false);
                        }
                    });

                    function disabledButtonBid(a) {
                        if (a) {
                            $(".btn-success").addClass('disabled');
                        }
                        else {
                            $(".btn-success").removeClass('disabled');
                        }
                        buttonBid.prop('disabled', a);
                    }

                    $("#listBids").jqGrid({
                        url: {{ path('secure_author_order', { num: order.num }) | json_encode | raw }},
                        datatype: 'json',
                        mtype: 'POST',
                        colNames:['','Сумма','На выполнение','В срок клиента','Дата ставки','Комментарий','Действия'],
                        colModel :[
                            {name:'id',index:'id',search:false,hidden:true},
                            {name:'sum',index:'sum',width:130,align:'center',resizable:false,editable:false,sortable:false,formatter:'currency',formatoptions:{thousandsSeparator: " ",decimalPlaces:0,suffix:" руб."}},
                            {name:'day',index:'day',width:180,align:'center',resizable:false,editable:false,sortable:false},
                            {name:'is_client_date',index:'is_client_date',width:150,align:'center',resizable:false,editable:false,sortable:false,formatter:statusDate},
                            {name:'date_bid',index:'date_bid',width:150,align:'center',resizable:false,editable:false,sortable:false},
                            {name:'comment',index:'comment',width:200,align:'center',resizable:false,editable:false,sortable:false},
                            {name:'action',width:100,align:'center',sortable:false,resize:false,formatter:function() {
                                return "<div id='refresh-bid' style='margin-left:8px;'>" +
                                        "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Поставить заново' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                        "<span class='icon-ok'></span></div></div>";
                            }}

                        ],
                        rowNum: 100,
                        viewrecords: true,
                        hidegrid: false,
                        caption: 'Таблица истории ставок',
                        height: '100',
                        altRows: true,
                        altclass:'altRow',
                        loadComplete : function() {
                            function getBidId(e) {
                                var $td = $(e.target).closest('td'), $tr = $td.closest('tr.jqgrow'), rowId = $tr.attr('id');
                                return rowId;
                            }
                            $("#refresh-bid").click(function(e) {
                            });
                        }
                    });

                    function statusDate(cellvalue, options, rowObject)
                    {
                        //alert(cellvalue);
                        if (cellvalue) {
                            return ("<span class='icon-plus-6'></span>");
                        }
                        else {
                            return ("<span class='icon-minus-4'></span>");
                        }
                    }
                });
            </script>
        </div>
    {% endblock %}