{% extends "AcmeSecureBundle::layout_author.html.twig" %}
{% block title "Просмотр заказа" %}
    {% block content %}
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/custom-theme1/jquery-ui-1.10.3.custom.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/ui.jqgrid.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/style_order.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/i18n/grid.locale-ru.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.fmatter.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/script_order.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/price-format.js') }}"></script>
        <style>
            .thumbnail-image{
                padding-top: 20px;
            }
            .label-primary {
                background-color: #0088cc;
            }
            .block-file{
                border: 1px solid #000000;
                width: 300px;
            }
            .success {
                color: green;
                margin-left: -270px;
            }
            .offset-margin-right {
                float: right;
                margin-right: -200px;
            }
            .ui-jqgrid tr.jqgrow td {
                font-size: 18px !important;
            }
            #pagerBids_center, #dialog-message-confirm-selection {
                display: none;
            }
            #block-author {
                width: 200px;
                text-align: center;
            }
            #dialog-message-confirm-selection p .icon-help-3 {
                font-size: 45px;
                color: blue;
            }
            .class-dialog-confirm-selection #ui-id-1 {
                color: blue;
            }
            #pagerBids {
                height: 30px;
            }
            #help-popover {
                cursor: pointer;
                color: #0088CC;
            }
        </style>
        <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div id="blockAboutOrder">
                    <p class="block-num">Номер заказа: {{ order.num }}</p>
                    <hr style="border:solid 1px black">
                    <p class="block-theme">Тема работы: {{ order.theme }}</p>
                    <p>Задание: {{ order.task | raw }}</p>
                    <p>Объем заказа: {{ order.countsheet }} стр.</p>
                    <p>Оригинальность заказа: {{ order.originality }}%</p>
                    <p>Предмет: {{ order.subjectorder.childname }}</p>
                    <p>Тип заказа: {{ order.typeorder.name }}</p>
                    <p>Статус заказа: {{ order.statusorder.name }}</p>
                    <p>Дата создания: {{ order.datecreate.format("d.m.Y H:i") }}</p>
                    <p>Выполнение до: {{ order.dateexpire.format("d.m.Y H:i") }}</p>
                    <p>Заказчик: <div id="block-author">{{ client | raw }}</div></p>
                    <div>
                        {% for file in files %}
                            <div class="block-file">
                                <p>Файл: {{ file.name }} </p>
                                <p>Размер: {{ file.size }} </p>
                                <p>Загружен: {{ file.dateupload.format("d.m.Y H:i") }} </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% form_theme formBid "TwigBundle::layout.html.twig" %}
                {{ form_start(formBid, {'attr': {'id' : 'formBid'}}) }}
                <div class="form-group">
                    {{ form_label(formBid.fieldSum) }}
                    {{ form_errors(formBid.fieldSum) }}
                    <div class="input-group">
                        {{ form_widget(formBid.fieldSum) }}
                        <span class="input-group-addon"><i class=" icon-rouble"></i></span>
                    </div>
                    {{ form_label(formBid.fieldDay) }}
                    {{ form_errors(formBid.fieldDay) }}
                    <div class="input-group">
                        {{ form_widget(formBid.fieldDay) }}
                        <span class="input-group-addon"><i class="icon-clock-5"></i></span>
                    </div>
                    <div class="input-group">
                        {{ form_label(formBid.isClientDate) }}
                        {{ form_errors(formBid.isClientDate) }}
                        <span id="help-popover" onmouseover="$(this).tooltip('show')" data-title='Установите флажок, если Вы согласны выполнить заказ в срок, указанный заказчиком' class="icon-help-circled" data-container="body" data-placement="bottom"></span>
                        {{ form_widget(formBid.isClientDate) }}
                    </div>
                    {{ form_label(formBid.fieldComment) }}
                    {{ form_errors(formBid.fieldComment) }}
                    <div class="input-group">
                        {{ form_widget(formBid.fieldComment) }}
                        <span class="input-group-addon"><i class="icon-pencil-6"></i></span>
                    </div>
                    <br>
                    <div class="input-group">
                        <label for="formBid_bid" class="btn btn-success"><span class="icon-hammer">&nbspПоставить</span></label>
                        {{ form_widget(formBid.bid) }}
                    </div>
                </div>
                {{ form_end(formBid) }}
                <div id="dialog-message-confirm-selection" title="Подтверждение выполнения заказа">
                    <p>
                        <span class="icon-help-3" style="float:left;"></span>
                        Вы согласны успешно и в срок выполнить данный заказ?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-offset-1">
            <div>
                <table id="listBids"></table>
                <div id="pagerBids"></div>
                {% include "AcmeSecureBundle:Secure:layout_context_menu.html.twig" %}
            </div>
        </div>
        <script>
        $(document).ready(function() {
            document.title = "Просмотр заказа №" + {{ order.num }};
            $.fn.button.noConflict();
            var grid = $("#listBids");
            grid.jqGrid({
                url: {{ path('secure_author_order', { num: order.num }) | json_encode | raw }},
                datatype: 'json',
                cache: true,
                mtype: 'POST',
                postData: {action : 'getAuthorBids'},
                emptyrecords: 'Нет поставленных ставок',
                colNames:['','Сумма','Дней на выполнение','В срок заказчика','Дата ставки','Комментарий','Действия'],
                colModel :[
                    {name:'id',index:'id',search:false,hidden:true},
                    {name:'sum',index:'sum',width:140,align:'center',resizable:false,editable:false,sortable:false,formatter:'currency',formatoptions:{thousandsSeparator: " ",decimalPlaces:0,suffix:" руб."}},
                    {name:'day',index:'day',width:170,align:'center',resizable:false,editable:false,sortable:false,formatter: customDay},
                    {name:'is_client_date',index:'is_client_date',width:150,align:'center',resizable:false,editable:false,sortable:false,formatter: customDate},
                    {name:'date_bid',index:'date_bid',width:150,align:'center',resizable:false,editable:false,sortable:false},
                    {name:'comment',index:'comment',width:220,align:'center',resizable:false,editable:false,sortable:false,formatter: customComment},
                    {name:'action',width:100,align:'center',sortable:false,resize:false,formatter:function() {
                        return "<div class='refresh-bid' style='margin-left:8px;'>" +
                                "<div style='float:left;margin-left:5px;' data-title='Установить заново' onmouseover=\"$(this).tooltip('show')\" data-toggle='tooltip' data-placement='left'>" +
                                "<span class='icon-arrows-cw'></span></div></div>" +
                                "<div class='delete-bid' style='margin-left:8px;'>" +
                                "<div style='float:left;margin-left:5px;' data-title='Удалить ставку' onmouseover=\"$(this).tooltip('show')\" data-toggle='tooltip' data-placement='left'>" +
                                "<span class='icon-trash-1'></span></div></div>";
                    }}
                ],
                rowNum: 100,
                viewrecords: true,
                rownumbers: true,
                rownumWidth: 40,
                hidegrid: false,
                caption: 'Таблица поставленных ставок',
                height: 'auto',
                altRows: true,
                recordtext: "Просмотр ставок {0} - {1}",
                pager: $('#pagerBids'),
                altclass:'alt-row',
                loadComplete : function() {
                    grid.find("tr").find("td").removeAttr('title');
                    {% if (showDialogConfirmSelection) %}
                        $("#dialog-message-confirm-selection").dialog({
                            modal: true,
                            resizable: false,
                            height: 230,
                            width: 410,
                            dialogClass: 'class-dialog-confirm-selection',
                            buttons: {
                                "Согласен": function() {
                                    var rowId = getFirstRowId();
                                    $.ajax({
                                        type: 'POST',
                                        data: 'bidId=' + rowId + '&action=confirmSelection',
                                        success: function(response) {
                                            var responseObject = window.JSON.parse(response);
                                            if (responseObject.action) {
                                                $("#dialog-message-confirm-selection").dialog("close");
                                                window.location.reload();
                                            }
                                        }
                                    });
                                },
                                "Отказ": function() {
                                    var rowId = getFirstRowId();
                                    $.ajax({
                                        type: 'POST',
                                        data: 'bidId=' + rowId + '&action=failSelection',
                                        success: function(response) {
                                            var responseObject = window.JSON.parse(response);
                                            if (responseObject.action) {
                                                $("#dialog-message-confirm-selection").dialog("close");
                                            }
                                        }
                                    });
                                }
                            },
                            close: function() {
                            }
                        });
                    {% endif %}
                    $("#listBids tr.ui-widget-content").eq(0).addClass('ui-state-active').find('.refresh-bid').addClass('hidden').find('.grid-cell-day').removeClass('grid-cell-day');
                    $(".refresh-bid").click(function(e) {
                        var rowId = getRowId(e);
                        if (rowId) {
                            $.ajax({
                                type: 'POST',
                                data: 'bidId=' + rowId + '&action=refreshBid',
                                success: function(response) {
                                    var responseObject = window.JSON.parse(response);
                                    if (responseObject.action) {
                                        grid.trigger('reloadGrid');
                                    }
                                }
                            });
                        }
                    });
                    $(".delete-bid").click(function(e) {
                        var rowId = getRowId(e);
                        if (rowId) {
                            $.ajax({
                                type: 'POST',
                                data: 'bidId=' + rowId + '&action=deleteBid',
                                success: function(response) {
                                    var responseObject = window.JSON.parse(response);
                                    if (responseObject.action) {
                                        grid.trigger('reloadGrid');
                                        clearFields();
                                    }
                                }
                            });
                        }
                    });
                }
            }).navGrid('#pagerBids',{view:false,search:false,del:false,add:false,edit:false,refresh:true},{},{},{},{},{});
            var buttonBid = $("#formBid_bid"), bidInDate = $("#formBid_isClientDate"), bidDay = $("#formBid_fieldDay"), bidSum = $("#formBid_fieldSum"), fieldComment = $("#formBid_fieldComment");
            buttonBid.click(function(e) {
                var error = false;
                if (!isCorrectPrice(bidSum.val())) {
                    error = true;
                    bidSum.addClass('invalid').tooltip('show');
                } else {
                    bidSum.removeClass('invalid').tooltip('hide');
                }
                if (!isNormalInteger(bidDay.val()) && !bidInDate.prop('checked')) {
                    error = true;
                    bidDay.addClass('invalid').tooltip('show');
                } else {
                    bidDay.removeClass('invalid').tooltip('hide');
                }
                if (!error) {
                    var formBid = $("#formBid");
                    $.ajax({
                        type: 'POST',
                        data: formBid.serialize(),
                        success: function(response) {
                            var responseObject = window.JSON.parse(response);
                            if (responseObject.response == 'valid') {
                                $(".error").remove();
                                formBid.parent().prev().removeClass("success").hide();
                                disabledButtonBid(true);
                                clearFields();
                                grid.trigger('reloadGrid');
                                formBid.parent().before("<span class='success icon-ok-6'>&nbspСтавка поставлена!</span>");
                                setTimeout(function() {
                                    formBid.parent().prev().hide();
                                }, 3000);
                            } else {
                                $(".error").remove();
                                $.each(responseObject.response, function(index, value) {
                                    var selector  = "#formBid_" + index;
                                    $(selector).parent().after("<p class='error'>" + value + "</p>");
                                });
                            }
                        }
                    });
                }
            });
            if (bidInDate.prop("checked")) {
                bidDay.prop('disabled', true);
            } else {
                bidDay.prop('disabled', false);
            }
            bidInDate.change(function() {
                if ($(this).prop("checked")) {
                    bidDay.removeClass('invalid').prop('disabled', true).tooltip('hide').val("");
                } else {
                    bidDay.prop('disabled', false).val("");
                }
            });
            if (bidSum.val() == "" || (bidDay.val() == "" && !bidInDate.prop("checked"))) {
                disabledButtonBid(true);
            } else {
                disabledButtonBid(false);
            }
            bidSum.on('input', function() {
                if ($(this).val() == "" || (bidDay.val() == "" && !bidInDate.prop("checked"))) {
                    disabledButtonBid(true);
                } else {
                    disabledButtonBid(false);
                }
            });
            bidDay.on('input', function() {
                if ($(this).val() == ""|| bidSum.val() == "") {
                    disabledButtonBid(true);
                } else {
                    disabledButtonBid(false);
                }
            });
            function disabledButtonBid(a) {
                if (a) {
                    $(".btn-success").addClass('disabled');
                } else {
                    $(".btn-success").removeClass('disabled');
                }
                buttonBid.prop('disabled', a);
            }
            function clearFields() {
                bidDay.val("").prop('disabled', false);
                bidSum.val("");
                fieldComment.val("");
                bidInDate.prop('checked', false);
                buttonBid.prop('disabled', false);
            }
            /*$('#formBid_fieldSum').priceFormat({
                prefix: '',
                centsSeparator: '',
                thousandsSeparator: ' ',
                centsLimit: 0,
                clearOnEmpty: true
            });*/
        });
        </script>
        </div>
    {% endblock %}