{% extends "AcmeSecureBundle::layout_author.html.twig" %}
{% block title "Новые заказы" %}
    {% block content %}
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/custom-theme1/jquery-ui-1.10.3.custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/ui.jqgrid.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/i18n/grid.locale-ru.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.fmatter.js') }}"></script>
        <div class="">
            <style type="text/css">
                .alt-row {
                    background-color: #f3f3f3;
                    background-image: none;
                }
                /*.offset-margin-right {
                    float: right;
                    margin-right: -300px;
                }*/
                .ui-jqgrid .ui-jqgrid-htable th div {
                    height: 21px;
                }
                .gridCellTime {
                    color: blue;
                }
                .popover {
                    max-width: none;
                }
                #help-popover {
                    cursor: pointer;
                }
                .unfavorite-order {
                    display: none;
                }
                .ui-jqgrid-titlebar {
                    line-height: 2;
                }
            </style>
            <div class="row offset-margin-right">
                {% if (showWindow) %}
                <div id="success-window">
                    <div class="Message Message--green" id="js-timer">
                        <div class="Message-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="Message-body">
                            <p align="center"></p>
                        </div>
                        <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                {% endif %}
                <table id="listOrders"></table>
                <div id="pagerOrders"></div>
                <script>
                    $(document).ready(function() {
                        var grid = $("#listOrders");
                        grid.jqGrid({
                            url: {{ path('secure_author_orders', { type: 'new' }) | json_encode | raw }},
                            datatype: 'json',
                            mtype: 'POST',
                            recordtext: "Просмотр заказов {0} - {1}",
                            colNames:['','№ заказа', 'Предмет', 'Тип работы', 'Тема работы', 'Задание', 'Выполнение до', 'Min ставка', 'Max ставка', 'Моя ставка', 'Создан', 'Действия', ''],
                            colModel :[
                                {name:'id',index:'id',key:true,search:false,resize:false,hidden:true},
                                {name:'num',index:'num',width:100,align:'center',resizable:false,editable:false,searchrules:{"required":true, "number":true, "maxValue":13},searchoptions:{sopt:['eq','ne','bw','cn']},/*,formatter:'showlink',formatoptions:{baseLinkUrl:'someurl.php', addParam: '&action=edit'}*/},
                                {name:'subject_order',index:'subject_order',width:170,align:'center',resizable:false, editable:false, searchoptions:{sopt:['eq','ne','bw','cn']}},
                                {name:'type_order',index:'type_order',width:150,align:'center',resizable:false,editable:false, searchoptions:{sopt:['eq','ne','bw','cn']}},
                                {name:'theme',index:'theme',width:350,align:'center',resizable:false,editable:false, searchoptions:{sopt:['eq','bw','cn']}},
                                {name:'task',index:'task',width:250,align:'center',resizable:false, editable:false, searchoptions:{sopt:['eq','bw','cn']}},
                                {name:'date_expire',index:'date_expire',width:160,align:'center',resizable:false,editable:false,search:false},
                                {name:'max_bid',index:'max_bid',width:100,align:'center',resizable:false,editable:false,search:false,sortable:true},
                                {name:'min_bid',index:'min_bid',width:100,align:'center',resizable:false,editable:false,search:false,sortable:true},
                                {name:'my_bid',index:'my_bid',width:100,align:'center',resizable:false,editable:false,search:false,sortable:true},
                                {name:'date_create',index:'date_create',width:160,align:'center',resizable:false,editable:false,search:false},
                                {name:'action',width:80,align:'center',sortable:false,resize:false,search:false,formatter:function() {
                                    return "<div class='bid-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Поставить ставку' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-hammer'></span></div></div>" +
                                            "<div class='favorite-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='В избранные заказы' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-star-empty-2'></span></div></div>" +
                                            "<div class='unfavorite-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Из избранных заказов' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-star'></span></div></div>";
                                }},
                                {name:'is_favorite_order',index:'is_favorite_order',key:false,search:false,hidden:true}
                            ],
                            pager: $('#pagerOrders'),
                            //toolbar: [true,'top'],
                            rowNum: 10,
                            rowList: [15,25,35],
                            sortname: 'date_create',
                            sortorder: 'desc',
                            viewrecords: true,
                            hidegrid: false,
                            caption: 'Таблица новых заказов',
                            height: '700',
                            altRows: true,
                            altclass:'alt-row',
                            loadComplete : function() {
                                function getOrderId(e) {
                                    var $td = $(e.target).closest('td'), $tr = $td.closest('tr.jqgrow'), rowId = $tr.attr('id');
                                    return rowId;
                                }
                                $(".favorite-order").click(function(e) {
                                    var rowId = getOrderId(e), row = getRow($(this));
                                    if (rowId) {
                                        $.ajax({
                                            type: 'POST',
                                            data: 'orderId=' + rowId + '&action=favoriteOrder',
                                            success: function(response) {
                                                var resposeObject = window.JSON.parse(response);
                                                if (resposeObject.action) {
                                                    //grid.trigger('reloadGrid');
                                                    actionFavoriteOrder(row, "favorite");
                                                }
                                            }
                                        });
                                    }
                                });
                                $(".unfavorite-order").click(function(e) {
                                    var rowId = getOrderId(e), row = getRow($(this));
                                    if (rowId) {
                                        $.ajax({
                                            type: 'POST',
                                            data: 'orderId=' + rowId + '&action=unfavoriteOrder',
                                            success: function(response) {
                                                var resposeObject = window.JSON.parse(response);
                                                if (resposeObject.action) {
                                                    //grid.trigger('reloadGrid');
                                                    actionFavoriteOrder(row, "unfavorite");
                                                }
                                            }
                                        });
                                    }
                                });
                                $(".ui-widget-content td").removeAttr('title');
                                var grids = grid.getDataIDs();
                                var gridsLength = grids.length;
                                for (var i = 0; i < gridsLength; i++) {
                                    var selectedRowOrder = $("tr.jqgrow#" + grids[i]);
                                    var blockFavoriteOrder = selectedRowOrder.find(".favorite-order"), blockUnfavoriteOrder = selectedRowOrder.find(".unfavorite-order");
                                    if (Number(grid.getCell(grids[i], "is_favorite_order"))) {
                                        blockFavoriteOrder.hide();
                                        blockUnfavoriteOrder.show();
                                    }
                                    else {
                                        blockFavoriteOrder.show();
                                        blockUnfavoriteOrder.hide();
                                    }
                                }
                            },
                            onCellSelect: function(rowid, iCol) {
                                if (iCol != 11) {
                                    var rowData = grid.getRowData(rowid);
                                    var num = rowData['num'];
                                    var route = "{{ path('secure_author_order', { num: "PH" }) }}";
                                    window.location = route.replace("PH", num);
                                }
                            }
                        }).navGrid('#pagerOrders',{view:false, search:true, del:false, add:false, edit:false, refresh:true},
                                {},{},{},{closeOnEscape:true, multipleSearch:false, closeAfterSearch:true},{}
                        );
                        grid.setCaption('Таблица заказов ' + '<span id="help-popover" class="icon-help-circled" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom"></span>');
                        //$("#t_listOrders").height(22);
                        //$("#t_listOrders").append('<span id="help-popover" class="icon-help-circled" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"></span>');
                       // $(".default").addClass('form-control');
                        /*function closeMessage(el) {
                            el.addClass('is-hidden');
                        }
                        $('.js-messageClose').on('click', function(e) {
                            closeMessage($(this).closest('.Message'));
                        });
                        setTimeout(function() {
                            closeMessage($('#js-timer'));
                        }, 3000);*/
                    });
                    function getRow(a) {
                        return a.parent().parent();
                    }
                    function actionFavoriteOrder(a, type) {
                        var blockFavoriteOrder = a.find(".favorite-order"), blockUnfavoriteOrder = a.find(".unfavorite-order");
                        if (type == "favorite") {
                            blockFavoriteOrder.hide();
                            blockUnfavoriteOrder.show();
                        }
                        else {
                            blockFavoriteOrder.show();
                            blockUnfavoriteOrder.hide();
                        }
                    }
                    $(".ui-jqgrid-titlebar").live('hover', function() {
                        $("#help-popover").popover({
                            html : true,
                            content : function() {
                                return "Для поиска нажмите на <div style=\"display: inline-block\"><span class=\"ui-icon ui-icon-search\"></span></div></br>" +
                                        "Для сброса результата поиска нажмите на <div style=\"display: inline-block\"><span class=\"ui-icon ui-icon-arrowreturnthick-1-w\"></span></div></br>" +
                                        "Для обновления таблицы нажмите на <div style=\"display: inline-block\"><span class=\"ui-icon ui-icon-refresh\"></span></div></br>" +
                                        "Для добавления заказа в избранное нажмите на <div style=\"display: inline-block\"><span class=\"icon-star\"></span></div></br>" +
                                        "Для того,чтобы поставить ставку на заказ,нажмите на <div style=\"display: inline-block\"><span class=\"icon-hammer\"></span></div>";
                            }
                        });
                    });
                </script>
            </div>
        </div>
    {% endblock %}