{% extends "AcmeAuthBundle::layout.html.twig" %}

{% block title "Author registration" %}

{% block content_header '' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span2 centred">
                {{ form_start(formReg) }}
                    {{ form_errors(formReg) }}
                        {{ form_row(formReg.fieldLogin) }}
                        {{ form_row(formReg.fieldPass) }}
                        {% block errorPassApprove %}
                            <div>
                                {{ form_row(formReg.fieldPassApprove) }}
                            </div>
                        {% endblock %}
                        {{ form_row(formReg.fieldEmail) }}
                        {% block form_mobile_tel %}
                            {{ form_label(formReg.fieldMobileTel) }}
                            {{ form_widget(formReg.selectorCountry) }}
                            {{ form_widget(formReg.fieldMobileTel) }}
                        {% endblock %}
                        {{ form_row(formReg.fieldSkype) }}
                        {{ form_row(formReg.fieldIcq) }}
                        {% block form_label %}
                            {% if(formReg.checkAgreeRules) %}
                                <span class="required" title="Нажмите для прочтения правил"><a href="{{ path('rules', {'type': 'author'}) }}" target="_blank">Правила системы</a>&nbsp;прочитаны</span>
                               {{ form_widget(formReg.checkAgreeRules) }}
                            {% endif %}
                        {% endblock %}
                {% block captcha %}
                    <div>
                        {{ captchaError|raw }}
                        {{ captcha|raw }}
                    </div>
                {% endblock %}
                {{ form_end(formReg) }}
            </div>
        </div>
        <script>
            $(document).ready(function() {
                function format(state) {
                /*if (!state.id){
                    return state.text;
                }*/
;
                return "<img title='" + state.text + "' class='flag' src='{{ asset('bundles/acmeauth/images/flags/') }}" + state.id.toLowerCase() + ".png'/>";
            }
            $("#formReg_selectorCountry").select2({
                minimumResultsForSearch: -1,
                formatResult: format,
                formatSelection: format,
                escapeMarkup: function(m) { return m; }
                });
            });
        </script>
    </div>
{% endblock %}
