{% extends "AcmeAuthBundle::layout.html.twig" %}

{% block title "Author registration" %}

{% block content_header '' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span2 centred">
                {{ form_start(formReg) }}
                    {{ form_errors(formReg) }}
                        {{ form_row(formReg.fieldLogin) }}
                        {{ form_row(formReg.fieldPass) }}
                        {% block errorPassApprove %}
                            <div>
                                {{ form_row(formReg.fieldPassApprove) }}
                            </div>
                        {% endblock %}
                        {{ form_row(formReg.fieldEmail) }}
                        {{ form_row(formReg.fieldMobileTel) }}
                        {{ form_row(formReg.fieldSkype) }}
                        {{ form_row(formReg.fieldIcq) }}
                        {% block form_label %}
                            {{ parent() }}
                            {% if(formReg.checkAgreeRules) %}
                                <span class="required" title="Нажмите для прочтения правил"><a href="author_rules">Правила системы</a>&nbsp;прочитаны</span>
                               {{ form_widget(formReg.checkAgreeRules) }}
                            {% endif %}
                        {% endblock %}
                {% block captcha %}
                    <div>
                        {{ captchaError|raw }}
                        {{ captcha|raw }}
                    </div>
                {% endblock %}
                {{ form_end(formReg) }}
            </div>
        </div>
        <script>
            $(document).ready(function() {
                function format(state) {
                if (!state.id){
                    return state.text;
                }
;
                return "<img class='flag' src='{{ asset('bundles/acmeauth/images/flags/') }}" + state.id.toLowerCase() + ".png'/>" /*+ state.text*/;
            }
            $("#e4").select2({
                minimumResultsForSearch: -1,
                formatResult: format,
                formatSelection: format,
                escapeMarkup: function(m) { return m; }
            });
            });
        </script>
        <select id="e4">
            <option value="by">Беларусь</option>
            <option value="ru">Россия</option>
            <option value="uk">Украина</option>
            <option value="kz">Казахстан</option>
        </select>

    </div>
{% endblock %}
