{% extends "AcmeAuthBundle::layout.html.twig" %}

{% block title "Author registration" %}

{% block content_header '' %}

{% block content %}
    <div class="container">
        <style>
            .reset-margin-bottom{
                margin-bottom: 0px;
            }
            .reset-margin-left{
                padding-left: 0px;
            }
        </style>
        <div class="row">
            <div>
                {{ form_start(formReg) }}
                {{ form_errors(formReg) }}
                {{ form_label(formReg.fieldLogin) }}
                {{ form_errors(formReg.fieldLogin) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    {{ form_widget(formReg.fieldLogin) }}
                </div>
                {{ form_label(formReg.fieldPass) }}
                {{ form_errors(formReg.fieldPass) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    {{ form_widget(formReg.fieldPass) }}
                </div>
                {{ form_label(formReg.fieldPassApprove) }}
                {{ form_errors(formReg.fieldPassApprove) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    {{ form_widget(formReg.fieldPassApprove) }}
                </div>
                {{ form_label(formReg.fieldEmail) }}
                {{ form_errors(formReg.fieldEmail) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    {{ form_widget(formReg.fieldEmail) }}
                </div>
                {% block form_mobile_tel %}
                    {{ form_label(formReg.fieldMobilePhone) }}
                    {{ form_errors(formReg.fieldMobilePhone) }}
                    <div class="row">
                        <div class="form-group col-md-1 reset-margin-bottom">
                            <div class="input-group">
                                {{ form_widget(formReg.selectorCountry) }}
                            </div>
                        </div>
                        <div class="form-group col-md-11 reset-margin-bottom reset-margin-left">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-mobile-alt"></i></span>
                                {{ form_widget(formReg.fieldMobilePhone) }}
                            </div>
                        </div>
                    </div>
                {% endblock %}
                {{ form_label(formReg.fieldUsername) }}
                {{ form_errors(formReg.fieldUsername) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-fontsize"></i></span>
                    {{ form_widget(formReg.fieldUsername) }}
                </div>
                {{ form_label(formReg.fieldSurname) }}
                {{ form_errors(formReg.fieldSurname) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-fontsize"></i></span>
                    {{ form_widget(formReg.fieldSurname) }}
                </div>
                {{ form_label(formReg.fieldLastname) }}
                {{ form_errors(formReg.fieldLastname) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-fontsize"></i></span>
                    {{ form_widget(formReg.fieldLastname) }}
                </div>
                {{ form_label(formReg.fieldSkype) }}
                {{ form_errors(formReg.fieldSkype) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-skype"></i></span>
                    {{ form_widget(formReg.fieldSkype) }}
                </div>
                {{ form_label(formReg.fieldIcq) }}
                {{ form_errors(formReg.fieldIcq) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-icq"></i></span>
                    {{ form_widget(formReg.fieldIcq) }}
                </div>
                        {% block form_label %}
                            {% if(formReg.checkAgreeRules) %}
                                <span class="required" title="Нажмите для прочтения правил"><a href="{{ path('rules', {'type': 'author'}) }}" target="_blank">Правила системы</a>&nbsp;прочитаны</span>
                               {{ form_widget(formReg.checkAgreeRules) }}
                            {% endif %}
                        {% endblock %}
                {% block captcha %}
                    <div>
                        {{ captchaError|raw }}
                        {{ captcha|raw }}
                    </div>
                {% endblock %}
                {{ form_end(formReg) }}
            </div>
        </div>
        <script>
            $(document).ready(function() {
                function format(state) {
                /*if (!state.id){
                    return state.text;
                }*/
;
                return "<img title='" + state.text + "' class='flag' src='{{ asset('bundles/images/flags/') }}" + state.id.toLowerCase() + ".png'/>";
            }
            $("#formReg_selectorCountry").select2({
                minimumResultsForSearch: -1,
                formatResult: format,
                formatSelection: format,
                escapeMarkup: function(m) { return m; }
                });
            });
        </script>
    </div>
{% endblock %}
