{% extends "AcmeAuthBundle::layout.html.twig" %}
    {% block content %}
        <script>
            sessionStorage.setItem("Page2Visited", "True");
        </script>
        <div class="container">
            <div class="row">
                <div id="form-login">
                    {{ form_start(formLogin) }}
                        {{ errorData }}
                        {{ form_errors(formLogin.fieldEmail) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            {{ form_widget(formLogin.fieldEmail) }}
                        </div>
                        {{ form_errors(formLogin.fieldPass) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            {{ form_widget(formLogin.fieldPass) }}
                        </div>
                        <div class="form-group">
                        <div class="input-group">
                            <label for="formLogin_enter" class="btn btn-success"><span class="icon-login-1">&nbspВойти</span></label>
                            {{ form_widget(formLogin.enter) }}
                        </div>
                        <div class="input-group">
                            <a class="btn btn-success" href="{{ path('login') }}"><span class="icon-user-add">&nbspРегистрация</span></a>
                        </div>
                        </div>
                    {{ form_end(formLogin) }}
                </div>
                <div id="openID">
                    <p>Войти с помощью:</p>
                    <div id="uLogin" data-ulogin="display=panel;fields=first_name,nickname,email,photo,photo_big;
				        providers=vkontakte,odnoklassniki,twitter,facebook,google;hidden=mailru,yandex;
				        redirect_uri=http%3A%2F%2Flocalhost%2Fstudy%2Fweb%2Fapp_dev.php%2Flogin">
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
