{% extends "AcmeAuthBundle::layout.html.twig" %}
{% block title "Вход в систему" %}
    {% block content %}
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/custom-theme1/jquery-ui-1.10.3.custom.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/ui.jqgrid.css') }}" />
        <style>
            .block-button, #block-openid {
                margin-top: 10px;
            }
            #dialog-reg-select-role {
                display: none;
            }
            /*label.required:before {
                content: "* ";
            }*/
            ul li, #block-error {
                color : red;
            }
        </style>
        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}
            <button type="submit">login</button>
        </form>
        <div>
            <p><a href="{{ path('recovery_password') }}">Забыли пароль?</a></p>
        </div>
        <div id="block-openid">
            <p>Войти с помощью:</p>
            <div id="uLogin" data-ulogin="display=panel;fields=first_name,nickname,email,photo,photo_big;
				        providers=vkontakte,odnoklassniki,twitter,facebook,google;hidden=mailru,yandex;
				        redirect_uri=http%3A%2F%2Flocalhost%2Fstudy%2Fweb%2Fapp_dev.php%2Flogin">
            </div>
        </div>
        <div id="dialog-reg-select-role" title="Выбор роли">
            <div class="row">
                <div class="col-xs-6">
                    <label for="role-author">Автор</label>
                    <div class="input-group">
                        <input type="checkbox" name="role-author" id="role-author" class="form-control">
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="role-client">Заказчик</label>
                    <div class="input-group">
                        <input type="checkbox" name="role-client" id="role-client" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    <script>
        $(document).ready(function() {
            $.fn.button.noConflict();
            $("#btn-reg").click(function(e) {
                $("#dialog-reg-select-role").dialog({
                    modal: true,
                    resizable: false,
                    height: 160,
                    width: 260,
                    close: function() {
                        $('input:checkbox').attr('checked', false);
                    }
                });
                return false;
            });
            $("input:checkbox").click(function() {
                var typeRole = $(this).attr('name');
                $("#dialog-reg-select-role").dialog('close');
                if (typeRole == "role-client") {
                    var type = "client";
                    var url = "{{ path('client_reg', {'type': 'client'}) }}";
                    location.href = url.replace('type', type);
                }
                else {
                    var type = "author";
                    var url = "{{ path('author_reg', {'type': 'author'}) }}";
                    location.href = url.replace('type', type);
                }
            });
        });
    </script>
    {% endblock %}
