{% extends "AcmeAuthBundle::layout.html.twig" %}
    {% block content %}
        <div class="container">
            <div class="row">
                {{ form_start(formLogin) }}
                    {{ form_errors(formLogin) }}
                        {{ form_row(formLogin.fieldEmail) }}
                        {{ form_row(formLogin.fieldPass) }}
                        {{ errorData }}
                {{ form_end(formLogin) }}
                <p><a href="{{ path('index') }}">Зарегистрироваться</a></p>
                <p>Войти с помощью:</p>
                <div id="openID">
                    <div id="uLogin" data-ulogin="display=panel;fields=first_name,nickname,email,photo,photo_big;
				        providers=vkontakte,odnoklassniki,twitter,facebook,google;hidden=mailru,yandex;
				        redirect_uri=http%3A%2F%2Flocalhost%2Fstudy%2Fweb%2Fapp_dev.php%2Flogin"
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
