{% extends "AcmeAuthBundle::layout.html.twig" %}
    {% block content %}
        <div class="container">
            <div class="row">
                {{ form_start(formLogin) }}
                    {{ form_errors(formLogin) }}
                    {{ form_widget(formLogin) }}
                {{ form_end(formLogin) }}
                <p><a href="{{ path('client_reg') }}">Зарегистрироваться</a></p>
            </div>
        </div>
    {% endblock %}
