{% extends "AcmeAuthBundle::layout.html.twig" %}

{% block title "Client registration" %}

{% block content_header '' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span2 centred">
                {{ form_start(formReg) }}
                    {{ form_errors(formReg) }}
                        {{ form_row(formReg.fieldLogin) }}
                        {{ form_row(formReg.fieldPass) }}
                        {% block errorPassApprove %}
                            <div>
                                {{ approvePassError|raw }}
                                {{ form_row(formReg.fieldPassApprove) }}
                            </div>
                        {% endblock %}
                        {{ form_row(formReg.fieldEmail) }}
                        {% block form_label %}
                            {{ parent() }}
                            {% if(formReg.checkAgreeRules) %}
                                <span class="required" title="Нажмите для прочтения правил"><a href="client_rules">Правила системы</a>&nbsp;прочитаны</span>
                               {{ form_widget(formReg.checkAgreeRules) }}
                            {% endif %}
                        {% endblock %}
                {% block captcha %}
                    <div>
                        {{ captchaError|raw }}
                        {{ captcha|raw }}
                    </div>
                {% endblock %}
                {{ form_end(formReg) }}
            </div>
        </div>
    </div>
{% endblock %}
