{% extends "AcmeAuthBundle::layout.html.twig" %}
{% block title "Регистрация заказчика" %}
{% block content_header '' %}
{% block content %}
    <link href="{{ asset('bundles/css/window.css') }}" rel="stylesheet" />
    <style>
        ul li{
            color: red;
        }
        .Message {
            position: relative;
        }
        .Message-body {
            font-size: 18px;
        }
        .row label.required:after {
            content: "*";
        }
    </style>
    {% if (showWindow) %}
        <div class="row">
            <div id="modal-window">
                <div id="success-window">
                    <div class="Message Message--green" id="js-timer">
                        <div class="Message-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="Message-body">
                            <p align="center">Ваш аккаунт создан! Проверьте ваш Email для активации аккаунта!</p>
                        </div>
                        <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
    {% form_theme formReg "TwigBundle::layout.html.twig" %}
        {{ form_start(formReg) }}
        {{ form_errors(formReg) }}
        {{ form_label(formReg.fieldLogin) }}
        {{ form_errors(formReg.fieldLogin) }}
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-user"></i></span>
            {{ form_widget(formReg.fieldLogin) }}
        </div>
        {{ form_label(formReg.fieldPass) }}
        {{ form_errors(formReg.fieldPass) }}
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-key-5"></i></span>
            {{ form_widget(formReg.fieldPass) }}
        </div>
        {{ form_label(formReg.fieldPassApprove) }}
        {{ form_errors(formReg.fieldPassApprove) }}
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-key-5"></i></span>
            {{ form_widget(formReg.fieldPassApprove) }}
        </div>
        <div>
            {{ form_row(formReg.fieldPassApprove) }}
        </div>
        {{ form_label(formReg.fieldEmail) }}
        {{ form_errors(formReg.fieldEmail) }}
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-mail-8"></i></span>
            {{ form_widget(formReg.fieldEmail) }}
        </div>
        {% block form_label %}
            {{ parent() }}
            {% if(formReg.checkAgreeRules) %}
                <span class="required" title="Нажмите для прочтения правил"><a href="{{ path('rules', {'type': 'client'}) }}" target="_blank">Правила системы</a>&nbsp;прочитаны</span>
                {{ form_widget(formReg.checkAgreeRules) }}
            {% endif %}
        {% endblock %}
        {% block captcha %}
            <div>
                {% if (captchaError) %}
                    <span class="icon-warning" style="color:red">{{ captchaError|raw }}</span>
                {% endif %}
                {{ captcha|raw }}
            </div>
        {% endblock %}
        <div class="input-group">
            <label for="formReg_reg" class="btn btn-success"><span class="icon-ok">&nbspРегистрация</span></label>
            {{ form_widget(formReg.reg) }}
            <label for="formReg_reset" class="btn btn-success"><span class="icon-trash-1">&nbspОчистить</span></label>
            {{ form_widget(formReg.reset) }}
        </div>
        {{ form_end(formReg) }}
    </div>
        <script>
            $(document).ready(function() {
                //if (!sessionStorage.getItem("Page2Visited")) {
                    {% if (showWindow) %}
                        function closeMessage(el) {
                            el.addClass('is-hidden');
                        }
                        $('.js-messageClose').on('click', function(e) {
                            closeMessage($(this).closest('.Message'));
                        });
                        setTimeout(function() {
                            closeMessage($('#js-timer'));
                            //document.location.href = "{{ path("login") }}";
                        }, 3000);
                    {% endif %}
                /*}
                else {
                    sessionStorage.removeItem("Page2Visited");
                    $("#modal-window").hide();
                }*/
            })
        </script>
{% endblock %}
