{% extends "AcmeSecureBundle::layout_client.html.twig" %}
    {% block title "Домашняя страница заказчика" %}
    {% block content %}
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/custom-theme1/jquery-ui-1.10.3.custom.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/ui.jqgrid.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/chat/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/modal_window/jquery.alert.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/js/jquery.cookie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/sound/ion.sound.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/modal_window/jquery.alert.js') }}"></script>
        <script src="http://localhost:8008/socket.io/socket.io.js" defer></script>
        <style>
            .close {
                opacity: 1;
            }
            #leftMenu {
                display: none;
            }
            #messages-wrap {
                width: 300px;
                border: 1px solid #000000;
            }
            #messages-wrap .message-wrap {
                border: 1px solid #000000;
            }
            #messages-wrap .message-user {
                color: green;
            }
            #messages-wrap .message-system {
                color: red;
            }
            #messages-wrap .message-close {
                height: 20px;
            }
        </style>
        <div class="container">
            <div class="row">
                <!--<div class="col-xs-4">
                    <div id="">{{ user.avatar | raw }}</div>
                    <p>{{ user.login }}</p>
                    <hr style="border:solid 1px black">
                    <p>Ваш ID - {{ user.id }}</p>
                    <hr style="border:solid 1px black">
                    <p>Ваш баланс: {{ user.account }} руб.</p>
                    <hr style="border:solid 1px black">
                    <p>Ваш статус - {{ user.userrole.name }}</p>
                    <hr style="border:solid 1px black">
                    <p>Вход в систему - {{ whenLogin }}</p>
                    <hr style="border:solid 1px black">
                    <p>Осталось в системе - {{ remainingTime }}</p>
                </div>-->
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div id="messages-wrap"></div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                var userLogin = '{{ user.login }}', userId = {{ user.id }};
                try {
                    var socket = io.connect('http://localhost:8008', { 'forceNew': true });
                } catch(e) {
                    //systemMsg('system', "Server off " + e);
                    return;
                }
                socket.on("connect", function() {
                    var messages = $("#messages-wrap");
                    this.emit("join to channel messages", { channel: userId, userLogin: userLogin })
                            .emit("request get new messages from db")
                            .on("response get new messages from db", function(data) {
                                var countRows = 0,
                                        newMessage;
                                for (var key in data) {
                                    if (data[key].userId != 17) {
                                        newMessage = '<div class="message-wrap message-user" data-id="' + data[key].messageId + '">' +
                                                '<p class="user">' + data[key].userLogin + ':</p> ' +
                                                '<div class="message-text">' + safe(data[key].message) + '</div>' +
                                                '<p class="date">' + data[key].dateWrite + '</p>' +
                                                '<p class="message-close"><span class="close">&times;</span></p>' +
                                                '</div>';

                                    } else {
                                        newMessage = '<div class="message-wrap message-system" data-id="' + data[key].messageId + '">' +
                                                '<p class="user">' + data[key].userLogin + ':</p> ' +
                                                '<div class="message-text">' + safe(data[key].message) + '</div>' +
                                                '<p class="date">' + data[key].dateWrite + '</p>' +
                                                '<p class="message-close"><span class="close">&times;</span></p>' +
                                                '</div>';
                                    }
                                    messages.append(newMessage).scrollTop(messages[0].scrollHeight);
                                    countRows++;
                                }
                                console.log(data);
                                closeMessage = messages.find(".message-close");

                            }).on("response get new messages from client", function(data) {
                                console.log(data);
                            });
                    //var closeMessage = $(".message-close");
                    messages.on('click', '.message-close .close', function(e){
                        console.log($(this).parent().parent().attr('data-id'));

                    });

                    function safe(m) {
                        return m;
                    }
                })
            })
        </script>
    {% endblock %}
