{% extends "AcmeSecureBundle::layout.html.twig" %}

{% block title "Create order" %}

    {% block content %}

        <style>
            .invalid{
                border-color: #E9322D!important;
                box-shadow: 0 0 6px #E9322D!important;
            }

            .popover {
                position: inherit;
                top: -30px !important;
                left: 310px !important;
            }
        </style>

        <div class="body">
            {% if (showWindow) %}
            <div id="success-window">
                <div class="Message Message--green" id="js-timer">
                    <div class="Message-icon">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="Message-body">
                        <p align="center">Ваш заказ создан! Ожидайте ставок авторов!</p>
                    </div>
                    <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
                </div>
            </div>
            {% endif %}
            <div class="row" style="width: 300px">
                {{ form_start(formOrder, {'attr': {'class': 'form'}}) }}
                    {{ form_errors(formOrder) }}
                        <div class="form-group">
                            {{ form_row(formOrder.fieldTheme) }}
                            {{ form_row(formOrder.fieldDescribe) }}
                            {{ form_row(formOrder.fieldDateExpire) }}
                            {{ form_row(formOrder.fieldOriginality) }}
                            {{ form_row(formOrder.fieldCountSheet) }}
                            <div style="height: 60px">
                                {{ form_row(formOrder.selectorSubject) }}
                            </div>
                            <div style="height: 60px">
                                {{ form_row(formOrder.selectorTypeOrder) }}
                            </div>
                            <div style="height: 20px">
                            </div>
                            {{ form_row(formOrder.create) }}
                            {{ form_row(formOrder.reset) }}
                        </div>
                {{ form_end(formOrder) }}
                <a href="{{ path('secure_client_profile', {'type': 'view'}) }}">К профилю</a>
            </div>

            <!--<form class="form-horizontal col-sm-8">
                <div class="form-group">
                    <label>Gender</label>
                    <!--<select class="form-control required gender" data-placement="top" data-trigger="manual" data-content="You must choose a gender.">
                        <option value="">Please choose a gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Unisex</option>
                    </select>-
                    <button type="submit" class="btn btn-default pull-left">Submit</button>
                </div>
            </form>-->

            <script>
                $(document).ready(function() {
                    /*function sortingResults(results, container, query) {
                        if (query.term) {
                            return results.sort(function(a, b) {
                                if (a.text.length > b.text.length) {
                                    return 1;
                                } else if (a.text.length < b.text.length) {
                                    return -1;
                                } else {
                                    return 0;
                                }
                            });
                        }
                        return results;
                    }*/

                    $("#formCreateOrder_selectorSubject").select2({
                        placeholder: "Выберите предмет",
                        allowClear: true,
                        width: 300,
                        maximumSelectionSize: 2,
                        formatNoMatches: "Не найден такой предмет",
                        sortResults: sortingResults
                    })
                    .on("select2-selecting", function(e) {
                        var selectorSubject = $("#formCreateOrder_selectorSubject");
                        selectorSubject.removeClass('invalid');
                        selectorSubject.popover('hide');
                    });

                    $("#formCreateOrder_selectorTypeOrder").select2({
                        width: 300,
                        allowClear: true,
                        placeholder: "Выберите тип заказа",
                        formatNoMatches: "Не найден такой тип заказа",
                        maximumSelectionSize: 2,
                        sortResults: sortingResults
                    })
                    .on("select2-selecting", function(e) {
                        var selectorTypeOrder = $("#formCreateOrder_selectorTypeOrder");
                        selectorTypeOrder.removeClass('invalid');
                        selectorTypeOrder.popover('hide');
                    });

                    $('form').click(function(e) {
                        var selectorSubject = $("#formCreateOrder_selectorSubject");
                        var selectorTypeOrder = $("#formCreateOrder_selectorTypeOrder");

                        triggerPopover(selectorSubject);
                        triggerPopover(selectorTypeOrder);

                        return true;
                    });

                    function triggerPopover(a){
                        if (!a.val())
                        {
                            a.popover('show');
                            a.addClass('invalid');
                            $(".popover-title").css("color", "red" );
                            $(".popover").css("text-align", "center");
                        }
                        else
                        {
                            a.removeClass('invalid');
                            a.popover('hide');
                        }
                    }

                    $(".select2-choice").addClass("form-control");
                    $("#select2-chosen-1, #select2-chosen-2").css("line-height", "32px");

                    /*$("#formCreateOrder_fieldTheme").on("focus", function(e) {

                    });*/

                    function closeMessage(el) {
                        el.addClass('is-hidden');
                    }

                    $('.js-messageClose').on('click', function(e) {
                        closeMessage($(this).closest('.Message'));
                    });

                    setTimeout(function() {
                        closeMessage($('#js-timer'));
                    }, 2000);
                });
            </script>
            <script type="text/javascript" src="{{ asset('bundles/js/sorting_select2.js') }}"></script>
        </div>
    {% endblock %}