{% extends "AcmeSecureBundle::layout.html.twig" %}

{% block title "View order" %}

    {% block content %}
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/custom-theme1/jquery-ui-1.10.3.custom.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/ui.jqgrid.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/datepicker.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/datepicker3.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/i18n/grid.locale-ru.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.fmatter.js') }}"></script>
        <div class="container">
            <style type="text/css">
                .altRow {
                    background-color: #f3f3f3;
                    background-image: none;
                }
                .offset-margin-right {
                    float: right;
                    margin-right: -200px;
                }
                .ui-jqgrid .ui-jqgrid-htable th div {
                    height: 21px;
                }
                .gridCellTime {
                    color: blue;
                }
                .show-order, #dialog-configure-order {
                    display: none;
                }
                .label-primary {
                    background-color: #0088cc;
                }
                #ui-id-1 {
                    color: blue;
                }
                .input-group-addon {
                    cursor: pointer;
                }
                .icon-warning {
                    color: red;
                    font-size: 20px;
                    padding-right: 10px;
                }
                /*body { font-size: 62.5%; }*/
                /*label, input { display:block; }*/
                input.text { margin-bottom:15px; width:100%; padding: .4em; }
                fieldset { padding:0; border:0; margin-top:15px; }
                h1 { font-size: 1.2em; margin: .6em 0; }
                .ui-dialog .ui-state-error { padding: .3em; }
                .validateTips { border: 1px solid transparent; padding: 0.3em; }
            </style>
            <div class="row offset-margin-right">
                <table id="listOrders"></table>
                <div id="pagerOrders"></div>
                <div id="dialog-configure-order" title="Управление заказом">
                    <p class="validateTips"></p>
                    <form>
                        <fieldset>
                            <label for="task">Задание</label>
                            <textarea name="task" style="overflow:auto;resize:none" required id="task" placeholder="Введите задание..." class="text ui-widget-content ui-corner-all form-control" cols="5" rows="5"></textarea>
                            <label for="new_date_expire">Выполнение до</label>
                            <div class="input-group">
                                <input type="text" name="new_date_expire" id="new_date_expire" required placeholder="Нажмите сюда..." value="" class="text ui-widget-content ui-corner-all form-control">
                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <script>
                    $(document).ready(function() {
                        $.fn.button.noConflict();
                        $("#listOrders").jqGrid({
                            url: {{ path('secure_client_orders', { type: 'view' }) | json_encode | raw }},
                            datatype: 'json',
                            mtype: 'POST',
                            recordtext: "Просмотр заказов {0} - {1}",
                            colNames:['','№ заказа','Тип работы', 'Тема работы', 'Предмет', 'Задание', 'Статус', 'Дата создания', 'Выполнение до', 'Ставки', 'Действия',''],
                            colModel :[
                                {name:'id',index:'id',key:true,search:false,hidden:true},
                                {name:'num',index:'num',width:100,align:'center',resizable:false,editable:false,searchrules:{"required":true, "number":true, "maxValue":13},searchoptions:{sopt:['eq','ne','bw','cn']},/*,formatter:'showlink',formatoptions:{baseLinkUrl:'someurl.php', addParam: '&action=edit'}*/},
                                {name:'type_order',index:'type_order',width:150,align:'center',resizable:false,editable:false, searchoptions:{sopt:['eq','ne','bw','cn']}},
                                {name:'theme',index:'theme',width:350,align:'center',resizable:false,editable:false, searchoptions:{sopt:['eq','bw','cn']}},
                                {name:'subject',index:'subject',width:170,align:'center',resizable:false, editable:false, searchoptions:{sopt:['eq','ne','bw','cn']}},
                                {name:'task',index:'task',width:250,align:'center',resizable:false, editable:false, searchoptions:{sopt:['eq','bw','cn']}},
                                {name:'status_order',index:'status_order',width:160,align:'center',resizable:false,editable:false,search:false},
                                {name:'date_create',index:'date_create',width:160,align:'center',resizable:false,editable:false,search:false},
                                {name:'date_expire',index:'date_expire',width:160,align:'center',resizable:false,editable:false,search:false},
                                {name:'response_author',index:'response_author',width:70,align:'center',resizable:false,editable:false,search:false,sortable:true},
                                {name:'action',width:120,align:'center',sortable:false,resize:false,formatter:function() {
                                    return "<div class='delete-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Удалить заказ' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-trash'></span></div></div>" +
                                            "<div class='hide-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Скрыть заказ от авторов' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-eye-off'></span></div></div>" +
                                            "<div class='show-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Показать заказ авторам' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-eye'></span></div></div>" +
                                            "<div class='configure-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Изменить задание/срок' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-cogs'></span></div></div>";
                                }},
                                {name:'is_show_author',index:'is_show_author',key:true,search:false,hidden:true}
                            ],
                            pager: $('#pagerOrders'),
                            toolbar: [true,'top'],
                            rowNum: 10,
                            rowList: [10,20,30],
                            viewrecords: true,
                            hidegrid: false,
                            caption: 'Таблица заказов',
                            height: '450',
                            altRows: true,
                            altclass:'altRow',
                            loadComplete : function() {
                                var grid  = $("#listOrders");
                                function getRowId(e) {
                                    var $td = $(e.target).closest('td'), $tr = $td.closest('tr.jqgrow'), rowId = $tr.attr('id');
                                    return rowId;
                                }
                                function getRow(a) {
                                    return a.parent().parent();
                                }
                                function actionHideOrder(a, type) {
                                    var blockShowOrder = a.find(".show-order"), blockHideOrder = a.find(".hide-order");
                                    if (type == "show") {
                                        blockShowOrder.hide();
                                        blockHideOrder.show();
                                    }
                                    else {
                                        blockShowOrder.show();
                                        blockHideOrder.hide();
                                    }
                                }
                                $(".delete-order").click(function(e) {
                                    var rowId = getRowId(e);
                                    if (rowId) {
                                        $.ajax({
                                            url: 'delete',
                                            type: 'POST',
                                            data: 'orderId=' + rowId,
                                            success: function(response) {
                                                var resposeObject = window.JSON.parse(response);
                                                if (resposeObject.action == "true") {
                                                    grid.trigger('reloadGrid');
                                                }
                                            }
                                        });
                                    }
                                });
                                $(".hide-order").click(function(e) {
                                    var rowId = getRowId(e);
                                    var row = getRow($(this));
                                    if (rowId) {
                                        $.ajax({
                                            url: 'hide',
                                            type: 'POST',
                                            data: 'orderId=' + rowId,
                                            success: function(response) {
                                                var resposeObject = window.JSON.parse(response);
                                                if (resposeObject.action == "true") {
                                                    //grid.trigger('reloadGrid');
                                                    grid.setCell(rowId,'status_order',"Скрытый");
                                                    actionHideOrder(row, "hide");
                                                }
                                            }
                                        });
                                    }
                                });
                                $(".show-order").click(function(e) {
                                    var rowId = getRowId(e);
                                    var row = getRow($(this));
                                    if (rowId) {
                                        $.ajax({
                                            url: 'show',
                                            type: 'POST',
                                            data: 'orderId=' + rowId,
                                            success: function(response) {
                                                var resposeObject = window.JSON.parse(response);
                                                if (resposeObject.action == "true") {
                                                    grid.trigger('reloadGrid');
                                                    actionHideOrder(row, "show");
                                                }
                                            }
                                        });
                                    }
                                });
                                $(".configure-order").click(function(e) {
                                    var rowId = getRowId(e);
                                    //var row = getRow($(this));
                                    $.ajax({
                                        url: 'load_config',
                                        type: 'POST',
                                        data: 'orderId=' + rowId,
                                        success: function(response) {
                                            var responseObject = window.JSON.parse(response);
                                            if (responseObject.action == "true") {
                                                $("#task").val(responseObject.task);
                                                $("#new_date_expire").datepicker('update', responseObject.dateExpire);
                                            }
                                            $("#dialog-configure-order").dialog();
                                        }
                                    });
                                    $("#dialog-configure-order").dialog({
                                        resizable: false,
                                        autoclose: false,
                                        height: 500,
                                        width: 500,
                                        modal: true,
                                        buttons: {
                                            "Сохранить": function() {
                                                var valid = true;
                                                allFields.removeClass("ui-state-error");
                                                valid = valid && checkTask(task, 4, 255);
                                                valid = valid && checkNewDateExpire(new_date_expire);
                                                if (valid) {
                                                    $(this).dialog("close");
                                                }
                                            },
                                            "Отмена": function() {
                                                $(this).dialog("close");
                                            }
                                        },
                                        close: function() {
                                            allFields.val("").removeClass("ui-state-error");
                                            tips.text("");
                                            tips.removeClass("ui-state-highlight");
                                        }
                                    });

                                    $('#new_date_expire').datepicker({
                                        todayHighlight: true,
                                        format: "dd/mm/yyyy",
                                        autoclose: true,
                                        startDate: '1d',
                                        language: 'ru',
                                        todayBtn: true
                                    });

                                    if (rowId) {
                                        /*$.ajax({
                                            url: 'hide',
                                            type: 'POST',
                                            data: 'orderId=' + rowId,
                                            success: function(response) {
                                                var resposeObject = window.JSON.parse(response);
                                                if (resposeObject.action == "true") {
                                                    grid.trigger('reloadGrid');
                                                    //grid.setCell(rowId,'status_order',"Скрытый");
                                                    actionHideOrder(row, "hide");
                                                }
                                            }
                                        });*/
                                    }
                                });
                                var grids = grid.getDataIDs();
                                var gridsLength = grids.length;
                                for (var i = 0; i < gridsLength; i++) {
                                    var selectedRowOrder = $("tr.jqgrow#" + grids[i]);
                                    var blockShowOrder = selectedRowOrder.find(".show-order"), blockHideOrder = selectedRowOrder.find(".hide-order");
                                    if (Number(grid.getCell(grids[i], "is_show_author"))) {
                                        blockShowOrder.hide();
                                        blockHideOrder.show();
                                    }
                                    else {
                                        blockHideOrder.hide();
                                        blockShowOrder.show();
                                    }
                                }
                            },
                            onCellSelect: function(rowid, iCol) {
                                if (iCol != 10) {
                                    var rowData = grid.getRowData(rowid);
                                    var num = rowData['num'];
                                    location.href = 'view/' + num;
                                }
                            }
                        }).navGrid('#pagerOrders',{view:false, search:true, del:false, add:false, edit:false, refresh:true},
                                {},{},{},{closeOnEscape:true, multipleSearch:false, closeAfterSearch:true},{}
                        );
                        var task = $("#task"), new_date_expire = $("#new_date_expire"), allFields = $([]).add(task).add(new_date_expire), tips = $(".validateTips");
                        function updateTips(t) {
                            //tips.append("<span class='icon-cogs'></span>");
                            tips.html("<span class='icon-warning'></span>" + t).addClass("ui-state-highlight");
                            //tips.insertBefore("<span class='icon-cogs'></span>");
                        }
                        function checkTask(o, min, max) {
                            if (o.val().length > max || o.val().length < min) {
                                o.addClass("ui-state-error");
                                updateTips("Введено слишком короткое описание задания (" + min + " - " + max + " символа)");
                                return false;
                            }
                            else {
                                return true;
                            }
                        }
                        function checkNewDateExpire(o) {
                            if (o.val() == "") {
                                o.addClass("ui-state-error");
                                updateTips("Выберите, до какой даты выполняется заказ!");
                                return false;
                            }
                            else {
                                return true;
                            }
                        }
                        $(".input-group-addon").click(function(e){
                            $("#new_date_expire").datepicker('show');
                        });

                        $("#t_listOrders").height(60);
                        $("#t_listOrders").append('<div id="">Для поиска нажмите на </div><div id="">Для сброса результата поиска нажмите на </div><div id="">Для обновления таблицы нажмите на </div>');
                        $(".default").addClass('form-control');

                        /*function closeMessage(el) {
                            el.addClass('is-hidden');
                        }
                        $('.js-messageClose').on('click', function(e) {
                            closeMessage($(this).closest('.Message'));
                        });
                        setTimeout(function() {
                            closeMessage($('#js-timer'));
                        }, 3000);*/
                    });
                </script>
            </div>
            <script type="text/javascript" src="{{ asset('bundles/js/bootstrap-datepicker.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/locales/bootstrap-datepicker.ru.js') }}"></script>
            <a href="{{ path('secure_client_index') }}">Главная</a>
        </div>
    {% endblock %}