{% extends "AcmeSecureBundle::layout.html.twig" %}

{% block title "Create order" %}

    {% block content %}

        <style>
            .invalid{
                border-color: #E9322D!important;
                box-shadow: 0 0 6px #E9322D!important;
            }

            .popover {
                position: inherit;
                top: -30px !important;
                left: 310px !important;
            }
        </style>

        <div class="body">
            {% if (showWindow) %}
            <div id="success-window">
                <div class="Message Message--green" id="js-timer">
                    <div class="Message-icon">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="Message-body">
                        <p align="center">Ваш заказ создан! Ожидайте ставок авторов!</p>
                    </div>
                    <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
                </div>
            </div>
            {% endif %}
            <div class="row" style="width: 300px">
                {{ form_start(formOrder, {'attr': {'class': 'form'}}) }}
                    {{ form_errors(formOrder) }}
                        <div class="form-group">
                            {{ form_row(formOrder.fieldTheme) }}
                            {{ form_row(formOrder.fieldTask) }}

                            {{ form_label(formOrder.fieldDateExpire) }}
                            <div class="input-group">
                                {{ form_widget(formOrder.fieldDateExpire) }}
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                            {{ form_row(formOrder.fieldOriginality) }}
                            {{ form_row(formOrder.fieldCountSheet) }}
                            <div style="height: 60px">
                                {{ form_row(formOrder.selectorSubject) }}
                            </div>
                            <div style="height: 60px">
                                {{ form_row(formOrder.selectorTypeOrder) }}
                            </div>
                            <div style="height: 20px">
                            </div>
                            <div class="input-group">
                                <label for="formCreateOrder_create" class="btn btn-success"><i class="fa fa-pencil-square-o fa-2x">&nbspСоздать</i></label>
                                {{ form_widget(formOrder.create) }}
                                <label for="formCreateOrder_reset" class="btn btn-success"><i class="fa fa-trash-o fa-2x">&nbspОчистить</i></label>
                                {{ form_widget(formOrder.reset) }}
                            </div>
                            {{ form_row(formOrder.reset) }}
                        </div>
                {{ form_end(formOrder) }}
                <a href="{{ path('secure_client_profile', {'type': 'view'}) }}">К профилю</a>
            </div>
            <script>
                $(document).ready(function() {

                    $('#formCreateOrder_fieldDateExpire').datepicker({
                        //autoclose: true,
                        todayHighlight: true,
                        todayBtn: true,
                        format: "dd/mm/yyyy"
                    })
                    .on('changeDate', function(ev) {
                        //$('.datepicker').hide();
                    });

                    $(".datepicker").css("width","225px");

                    $(".input-group-addon").click(function(e){
                        //$(".datepicker").show();
                    });

                    $("#formCreateOrder_selectorSubject").select2({
                        placeholder: "Выберите предмет",
                        allowClear: true,
                        width: 300,
                        maximumSelectionSize: 2,
                        formatNoMatches: "Не найден такой предмет",
                        sortResults: sortingResults
                    })
                    .on("select2-selecting", function(e) {
                        var selectorSubject = $("#formCreateOrder_selectorSubject");
                        hidePopover(selectorSubject);
                    });

                    $("#formCreateOrder_selectorTypeOrder").select2({
                        width: 300,
                        allowClear: true,
                        placeholder: "Выберите тип заказа",
                        formatNoMatches: "Не найден такой тип заказа",
                        maximumSelectionSize: 2,
                        sortResults: sortingResults
                    })
                    .on("select2-selecting", function(e) {
                        var selectorTypeOrder = $("#formCreateOrder_selectorTypeOrder");
                        hidePopover(selectorTypeOrder);
                    });

                    $('#formCreateOrder_create').click(function(e) {
                        var selectorSubject = $("#formCreateOrder_selectorSubject");
                        var selectorTypeOrder = $("#formCreateOrder_selectorTypeOrder");
                        triggerPopover(selectorSubject);
                        triggerPopover(selectorTypeOrder);
                        return true;
                    });

                    $('#formCreateOrder_reset').click(function(e) {
                        $("#formCreateOrder_selectorSubject, #formCreateOrder_selectorTypeOrder ").select2("val", "");
                        $("#formCreateOrder_selectorSubject, #formCreateOrder_selectorTypeOrder ").popover('hide');
                        $("#formCreateOrder_selectorSubject, #formCreateOrder_selectorTypeOrder ").removeClass('invalid');
                    });

                    function triggerPopover(a){
                        if (!a.val())
                        {
                            a.popover('show');
                            a.addClass('invalid');
                            $(".popover-title").css("color", "red" );
                            $(".popover").css("text-align", "center");
                        }
                        else
                        {
                            a.removeClass('invalid');
                            a.popover('hide');
                        }
                    }

                    $(".select2-choice").addClass("form-control");
                    $("#select2-chosen-1, #select2-chosen-2").css("line-height", "32px");

                    function hidePopover(a)
                    {
                        a.removeClass('invalid');
                        a.popover('hide');
                    }

                    function closeMessage(el) {
                        el.addClass('is-hidden');
                    }

                    $('.js-messageClose').on('click', function(e) {
                        closeMessage($(this).closest('.Message'));
                    });

                    setTimeout(function() {
                        closeMessage($('#js-timer'));
                    }, 3000);
                });
            </script>
            <script type="text/javascript" src="{{ asset('bundles/js/sorting_select2.js') }}"></script>



        </div>
    {% endblock %}