{% extends "AcmeSecureBundle::layout.html.twig" %}

{% block title "Order" %}

    {% block content %}
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/custom-theme1/jquery-ui-1.10.3.custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/ui.jqgrid.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/i18n/grid.locale-ru.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.fmatter.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.tablednd.js') }}"></script>
        <style>
            .altRow {
                background-color: #f3f3f3;
                background-image: none;
            }
            .ui-jqgrid .ui-jqgrid-htable th div {
                height: 21px;
            }
            .gridCellTime {
                color: blue;
            }
        </style>
        <div class="container">
            <div class="row">
                <div id="blockAboutOrder">
                    <p>Номер заказа: {{ order.num }}</p>
                    <p>Тема работы: {{ order.theme }}</p>
                    <p>Задание: {{ order.task | raw }}</p>
                    <p>Объем работы: {{ order.countsheet }} стр.</p>
                    <p>Оригинальность работы: {{ order.originality }}%</p>
                    <p>Предмет: {{ order.subjectorder.childname }}</p>
                    <p>Тип работы: {{ order.typeorder.name }}</p>
                    <p>Статус заказа: {{ order.statusorder.name }}</p>
                    <p>Дата создания заказа: {{ order.datecreate.format("d.m.Y H:i") }}</p>
                    <p>Выполнение заказа до: {{ order.dateexpire.format("d.m.Y H:i") }}</p>
                </div>
                <a href="{{ path('secure_client_index') }}">Главная</a>
            </div>
            <table id="listBids"></table>
            <div id="pagerBids"></div>
            <script>
                $(document).ready(function() {
                    $("#listBids").tableDnD({scrollAmount:0});
                    $("#listBids").jqGrid({
                        url: {{ path('secure_client_order', { num: order.num }) | json_encode | raw }},
                        datatype: 'json',
                        mtype: 'POST',
                        rownumbers: true,
                        gridview: true,
                        viewsortcols: true,
                        recordtext: "Просмотр ставок {0} - {1}",
                        colNames:['','Автор','Стоимость', 'Дней', 'В указанный срок', 'Комментарий', 'Действия'],
                        colModel :[
                            {name:'id',index:'id',hidden:true},
                            {name:'author',index:'author',width:100,align:'center',resizable:false,editable:false},
                            {name:'sum',index:'sum',width:150,align:'center',resizable:false,editable:false},
                            {name:'day',index:'day',width:150,align:'center',resizable:false,editable:false},
                            {name:'is_client_date',index:'is_client_date',width:150,align:'center',resizable:false,editable:false},
                            {name:'comment',index:'comment',width:250,align:'center',resizable:false, editable:false},
                            {name:'action',width:120,align:'center',sortable:false,resize:false,formatter:function() {
                                return "<div class='delete-order' style='margin-left:8px;'>" +
                                        "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Удалить заказ' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                        "<span class='icon-trash'></span></div></div>";
                            }}

                        ],
                        pager: $('#pagerBids'),
                        //toolbar: [true,'top'],
                        rowNum: 10,
                        rowList: [5,10,20,30],
                        //sortname: 'num',
                        //sortorder: 'desc',
                        viewrecords: true,
                        hidegrid: false,
                        caption: 'Таблица ставок',
                        height: '350',
                        //width: '1300'
                        emptyrecords: "Нету ставок авторов",
                        //width: 600,
                        //width: null,
                        //shrinkToFit: false,
                        altRows: true,
                        altclass:'altRow',

                        gridComplete: function() {
                            $("#_empty","#listBids").addClass("nodrag nodrop");
                            $("#listBids").tableDnDUpdate();
                        },

                        loadComplete : function() {
                            //var cm = $("#listOrders").jqGrid('getGridParam', 'colModel');
                            function getOrderId(e) {
                                var $td = $(e.target).closest('td'), $tr = $td.closest('tr.jqgrow'), rowId = $tr.attr('id');
                                return rowId;
                            }
                            $(".delete-order").click(function(e) {
                                var rowId = getOrderId(e);
                                if (rowId) {
                                    $.ajax({
                                        url: 'delete',
                                        type: 'POST',
                                        data: 'orderId=' + rowId,
                                        success: function(response) {
                                            var resposeObject = window.JSON.parse(response);
                                            if (resposeObject.action == "true") {
                                                $("#listOrders").trigger('reloadGrid');
                                            }
                                        }
                                    });
                                }
                            });
                        }
                        /*gridComplete: function() {
                         },*/
                        /*onCellSelect: function(rowid, iCol) {
                            if (iCol != 10) {
                                var rowData = $("#listBids").getRowData(rowid);
                                var num = rowData['num'];
                                location.href = 'view/' + num;
                            }
                        }*/
                        /*getCellIndex: function(rowid, iCol, cellcontent, e) {
                         return rowid;
                         },*/
                        /*loadComplete: function(data)
                         {
                         var NoOfCellAdd = Number($("#list").parent().parent().css('height').split('px')[0]) / 5;

                         for (var i = data.records; i <= NoOfCellAdd; i++)
                         {
                         $("#list").addRowData(i + 1, {});
                         }
                         }, */
                        /*onSelectRow: function(id) {
                         //location.href = 'order/' + id;
                         }*/
                    }).navGrid('#pagerBids',{view:false, search:false, del:false, add:false, edit:false, refresh:true},
                            {},{},{},{closeOnEscape:true, multipleSearch:false, closeAfterSearch:false},{}
                    );

                    if (!sessionStorage.getItem("Page2Visited")) {
                        {% if (showWindow) %}
                            function closeMessage(el) {
                                el.addClass('is-hidden');
                            }
                            $('.js-messageClose').on('click', function(e) {
                                closeMessage($(this).closest('.Message'));
                            });
                            setTimeout(function() {
                                closeMessage($('#js-timer'));
                                document.location.href = "{{ path('secure_client_order', {'type': 'view'}) }}";
                            }, 3000);
                        {% endif %}
                    }
                    else {
                        sessionStorage.removeItem("Page2Visited");
                        $("#modal-window").hide();
                    }
                });
            </script>
        </div>
    {% endblock %}