{% extends "AcmeSecureBundle::layout.html.twig" %}

{% block title "View order" %}

    {% block content %}
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/custom-theme1/jquery-ui-1.10.3.custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/ui.jqgrid.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/i18n/grid.locale-ru.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.fmatter.js') }}"></script>
        <div class="container">
            <script>
                sessionStorage.setItem("Page2Visited", "True");
            </script>
            <style type="text/css">
                .altRow {
                    background-color: #f3f3f3;
                    background-image: none;
                }
                .offset-margin-right {
                    float: right;
                    margin-right: -200px;
                }
                .ui-jqgrid .ui-jqgrid-htable th div {
                    height: 21px;
                }
                .gridCellTime {
                    color: blue;
                }
                .show-order {
                    display: none;
                }
            </style>
            <div class="row offset-margin-right">
                {% if (showWindow) %}
                <div id="success-window">
                    <div class="Message Message--green" id="js-timer">
                        <div class="Message-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="Message-body">
                            <p align="center">Ваш заказ создан! Ожидайте ставок авторов!</p>
                        </div>
                        <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                {% endif %}
                <table id="listOrders"></table>
                <div id="pagerOrders"></div>
                <script>
                    $(document).ready(function() {
                        $("#listOrders").jqGrid({
                            url: {{ path('secure_client_orders', { type: 'view' }) | json_encode | raw }},
                            datatype: 'json',
                            mtype: 'POST',
                            recordtext: "Просмотр заказов {0} - {1}",
                            colNames:['','№ заказа','Тип работы', 'Тема работы', 'Предмет', 'Задание', 'Статус', 'Дата создания', 'Выполнение до', 'Ставки', 'Действия',''],
                            colModel :[
                                {name:'id',index:'id',key:true,search:false,hidden:true},
                                {name:'num',index:'num',width:100,align:'center',resizable:false,editable:false,searchrules:{"required":true, "number":true, "maxValue":13},searchoptions:{sopt:['eq','ne','bw','cn']},/*,formatter:'showlink',formatoptions:{baseLinkUrl:'someurl.php', addParam: '&action=edit'}*/},
                                {name:'type_order',index:'type_order',width:150,align:'center',resizable:false,editable:false, searchoptions:{sopt:['eq','ne','bw','cn']}},
                                {name:'theme',index:'theme',width:350,align:'center',resizable:false,editable:false, searchoptions:{sopt:['eq','bw','cn']}},
                                {name:'subject',index:'subject',width:170,align:'center',resizable:false, editable:false, searchoptions:{sopt:['eq','ne','bw','cn']}},
                                {name:'task',index:'task',width:250,align:'center',resizable:false, editable:false, searchoptions:{sopt:['eq','bw','cn']}},
                                {name:'status_order',index:'status_order',width:160,align:'center',resizable:false,editable:false,search:false},
                                {name:'date_create',index:'date_create',width:160,align:'center',resizable:false,editable:false,search:false},
                                {name:'date_expire',index:'date_expire',width:160,align:'center',resizable:false,editable:false,search:false},
                                {name:'response_author',index:'response_author',width:70,align:'center',resizable:false,editable:false,search:false,sortable:true},
                                {name:'action',width:120,align:'center',sortable:false,resize:false,formatter:function() {
                                    return "<div class='delete-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Удалить заказ' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-trash'></span></div></div>" +
                                            "<div class='hide-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Скрыть заказ от авторов' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-eye-off'></span></div></div>" +
                                            "<div class='show-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Показать заказ авторам' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-eye'></span></div></div>" +
                                            "<div class='configure-order' style='margin-left:8px;'>" +
                                            "<div style='float:left;margin-left:5px;' class='ui-pg-div ui-inline-del' title='Управление заказом' onmouseover=\"$(this).addClass('ui-state-hover');\" onmouseout=\"$(this).removeClass('ui-state-hover');\">" +
                                            "<span class='icon-cogs'></span></div></div>";
                                }},
                                {name:'is_show_author',index:'is_show_author',key:true,search:false,hidden:true},
                            ],
                            pager: $('#pagerOrders'),
                            toolbar: [true,'top'],
                            rowNum: 10,
                            rowList: [10,20,30],
                            viewrecords: true,
                            hidegrid: false,
                            caption: 'Таблица заказов',
                            height: '450',
                            altRows: true,
                            altclass:'altRow',
                            loadComplete : function() {
                                var grid  = $("#listOrders");
                                function getRowId(e) {
                                    var $td = $(e.target).closest('td'), $tr = $td.closest('tr.jqgrow'), rowId = $tr.attr('id');
                                    return rowId;
                                }
                                function getRow(a) {
                                    return a.parent().parent();
                                }
                                function actionHideOrder(a, type) {
                                    var blockShowOrder = a.find(".show-order"), blockHideOrder = a.find(".hide-order");
                                    if (type == "show") {
                                        blockShowOrder.hide();
                                        blockHideOrder.show();
                                    }
                                    else {
                                        blockShowOrder.show();
                                        blockHideOrder.hide();
                                    }
                                }
                                $(".delete-order").click(function(e) {
                                    var rowId = getRowId(e);
                                    if (rowId) {
                                        $.ajax({
                                            url: 'delete',
                                            type: 'POST',
                                            data: 'orderId=' + rowId,
                                            success: function(response) {
                                                var resposeObject = window.JSON.parse(response);
                                                if (resposeObject.action == "true") {
                                                    grid.trigger('reloadGrid');
                                                }
                                            }
                                        });
                                    }
                                });
                                $(".hide-order").click(function(e) {
                                    var rowId = getRowId(e);
                                    var row = getRow($(this));
                                    if (rowId) {
                                        $.ajax({
                                            url: 'hide',
                                            type: 'POST',
                                            data: 'orderId=' + rowId,
                                            success: function(response) {
                                                var resposeObject = window.JSON.parse(response);
                                                if (resposeObject.action == "true") {
                                                    grid.trigger('reloadGrid');
                                                    //grid.setCell(rowId,'status_order',"Скрытый");
                                                    actionHideOrder(row, "hide");
                                                }
                                            }
                                        });
                                    }
                                });
                                $(".show-order").click(function(e) {
                                    var rowId = getRowId(e);
                                    var row = getRow($(this));;
                                    if (rowId) {
                                        $.ajax({
                                            url: 'show',
                                            type: 'POST',
                                            data: 'orderId=' + rowId,
                                            success: function(response) {
                                                var resposeObject = window.JSON.parse(response);
                                                if (resposeObject.action == "true") {
                                                    grid.trigger('reloadGrid');
                                                    actionHideOrder(row, "show");
                                                }
                                            }
                                        });
                                    }
                                });
                                var grids = grid.getDataIDs();
                                var gridsLength = grids.length;
                                for (var i = 0; i < gridsLength; i++) {
                                    if (grid.getCell(grids[i], "is_show_author") == 1) {
                                        var selectedRowBid = $("tr.jqgrow#" + grids[i]);
                                        var blockShowOrder = selectedRowBid.find(".show-order"), blockHideOrder = selectedRowBid.find(".hide-order");
                                        blockShowOrder.hide();
                                        blockHideOrder.show();
                                    }
                                }
                            },
                            onCellSelect: function(rowid, iCol) {
                                if (iCol != 10) {
                                    var rowData = grid.getRowData(rowid);
                                    var num = rowData['num'];
                                    location.href = 'view/' + num;
                                }
                            }
                        }).navGrid('#pagerOrders',{view:false, search:true, del:false, add:false, edit:false, refresh:true},
                                {},{},{},{closeOnEscape:true, multipleSearch:false, closeAfterSearch:true},{}
                        );

                        $("#t_listOrders").height(60);
                        $("#t_listOrders").append('<div id="">Для поиска нажмите на </div><div id="">Для сброса результата поиска нажмите на </div><div id="">Для обновления таблицы нажмите на </div>');
                        $(".default").addClass('form-control');

                        function closeMessage(el) {
                            el.addClass('is-hidden');
                        }
                        $('.js-messageClose').on('click', function(e) {
                            closeMessage($(this).closest('.Message'));
                        });
                        setTimeout(function() {
                            closeMessage($('#js-timer'));
                        }, 3000);
                    });
                </script>
            </div>
            <a href="{{ path('secure_client_index') }}">Главная</a>
        </div>
    {% endblock %}